<div class="footer-datos">
    <section>
        <div class="footerimg"><i class="fas fa-credit-card"></i></div>
        <h2 class="h2-footer"> Pagá con tarjeta o en efectivo</h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <br>
    <br>
    <section>
        <div class="footerimg"><i class="fas fa-gift"></i></div>
        <h2 class="h2-footer">Envío gratis desde $ 2.500</h2>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <br>
    <br>
    <section>
        <div class="footerimg"><i class="fas fa-user-shield"></i></div>
        <h2 class="h2-footer"> Seguridad, de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <br>
</div>
<p class="alinear-texto-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

</section>