<div class="logo-buscador">
    <a class="logo" href="/"><img src="/img/logo-mercado-liebre.svg"
            alt="logo mercado liebre arriba de todo"></a>
    <div class="buscador">
        <form action="../../form-result.php" method="post" target="_blank">
            <p>
                <input type="search" name="Buscar productos" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fas fa-search"></i></button>
            </p>
        </form>
    </div>
    <p class="text-center2"><i class="fas fa-hand-holding-usd"></i> compra en cuotas sin tarjeta
        de credito</p>
</div>
<nav class="navegacion">
    <ul>
        <li><a href="/ofertas">Ofertas</a></li>
        <li><a href="/tiendas-oficiales">Tiendas oficiales</a></li>
        <li><a href="/productos/create">Vender</a></li>
        <li><a href="/ayuda">Ayuda</a></li>
    </ul>
    <ul>
        <li><a href="/user/registro">Crear tu cuenta</a><i class="far fa-id-card"></i></li>
        <li><a href="/user/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
        <li><a href="/mis-compras">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
    </ul>
</nav>
<div class="burger-menu"><i class="fas fa-bars"></i></div>
<article>
    <img class="banner" src="/img/img-home-banner.jpg" alt="imagen del medio con oferta">
</article>